table{
    
    background-color: white;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 70px;
    padding: 2px;
    border: chocolate dashed 2px;
    word-spacing: 4px;
    letter-spacing: 1px;
    background-color: blue;
}